@font-face {
  font-family: "kyiv Sans";
  src: url("./assets/fonts/KyivTypeSans-VarGX.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "kyiv serif";
  src: url("./assets/fonts/KyivTypeSerif-VarGX.woff2")
    format("woff2-variations");
  font-weight: 0 1000;
  font-display: swap;
}

@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@700&display=swap");

:root {
  --primary-clr-100: 102, 17%, 47%;
  --primary-clr-110: 103, 16%, 33%;
  --primary-clr-120: 95, 17%, 28%;
  --primary-clr-200: 82, 47%, 64%;
  --primary-clr-210: 67, 59%, 82%;
  --primary-clr-220: 100, 100%, 85%;
  --primary-clr-300: 0, 0%, 30%;

  --secondary-clr-100: 118, 28%, 79%;
  --secondary-clr-110: 100, 15%, 84%;
  --secondary-clr-200: 0, 0%, 50%;
  --secondary-clr-300: 0, 0%, 100%;

  --fs-1: 0.5rem;
  --fs-2: 0.8rem;
  --fs-3: 1rem;
  --fs-4: 1.125rem;
  --fs-5: 1.5rem;
  --fs-6: 1.75rem;
  --fs-7: 2rem;
  --fs-8: 3.8rem;

  --fw-1: "wght" 100, "CONT" 0, "MIDL" 0;
  --fw-2: "wght" 200, "CONT" 0, "MIDL" 0;
  --fw-3: "wght" 300, "CONT" 0, "MIDL" 0;
  --fw-4: "wght" 400, "CONT" 0, "MIDL" 0;
  --fw-5: "wght" 500, "CONT" 0, "MIDL" 0;
  --fw-6: "wght" 600, "CONT" 0, "MIDL" 0;
  --fw-7: "wght" 700, "CONT" 0, "MIDL" 0;
  --fw-8: "wght" 800, "CONT" 0, "MIDL" 0;
  --fw-9: "wght" 900, "CONT" 0, "MIDL" 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  outline: none;
}

body {
  font-family: "kyiv Sans", sans-serif;
  font-variation-settings: "wght" 500, "CONT" 0, "MIDL" 0;
  font-size: var(--fs-3);
  color: black;
  overflow-x: hidden !important;
  max-width: 100vw !important;
}

::-webkit-scrollbar {
  width: 5px;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary-clr-120));
  border-radius: 100px;
}

::-webkit-scrollbar-track {
  background: hsl(var(--secondary-clr-100));
}

@media screen and (max-width: 600px) {
  ::-webkit-scrollbar {
    display: none;
  }
}

section {
  overflow-x: hidden;
  padding: 1rem 0 0;
}

.section-ttl {
  font-size: var(--fs-7);
  font-family: "kyiv serif";
  position: relative;
  width: fit-content;
  margin-inline: auto;
  color: hsl(var(--primary-clr-100), 0.8);
  margin-bottom: 3rem;
}

.section-ttl::after {
  content: "";
  width: 120%;
  height: 10px;
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
  background-color: hsl(var(--primary-clr-120));
  border-radius: 10vw;
}

a {
  color: inherit;
  text-decoration: none;
}

/* navigation bar */

nav {
  --nav-height: 3rem;
  --mobile-transition: 0.9s;

  height: var(--nav-height);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: hsl(var(--primary-clr-100));
  color: hsl(var(--secondary-clr-100));
}

nav img {
  height: 100%;
  aspect-ratio: 2 / 1;
}

@media screen and (max-width: 600px) {
  nav img {
    order: 2;
  }
}

.nav-elements {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: right var(--mobile-transition),
    background-color var(--mobile-transition);
  height: var(--nav-height);
}

@media screen and (max-width: 600px) {
  .nav-elements {
    flex-direction: column;
    position: absolute;
    right: 100vw;
    top: var(--nav-height);
  }

  #hamburger:checked ~ .nav-elements {
    right: 0vw;
  }
}

.nav-elements a {
  height: 100%;
  padding: 12px 15px;
  text-decoration: none;
  transition: inherit;
  color: inherit;
}

.nav-elements a:hover {
  background-color: hsl(var(--primary-clr-120));
}

@media screen and (max-width: 700px) {
  .nav-elements a {
    font-size: 13px;
    padding: 14px 15px;
  }
}

@media screen and (max-width: 600px) {
  .nav-elements a {
    width: 100vw;
    text-align: center;
    font-size: 1rem;
    background-color: hsl(var(--primary-clr-120));
    padding: 13px 0 24px;
  }

  .nav-elements a:hover {
    background-color: hsl(var(--primary-clr-110));
  }
}

nav input[type="checkbox"] {
  display: none;
}

.hamburger {
  font-size: var(--fs-5);
  cursor: pointer;
  transition: transform var(--mobile-transition);
}

@media screen and (min-width: 600px) {
  .hamburger {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .hamburger {
    order: 1;
  }

  #hamburger:checked ~ .hamburger {
    transform: rotate(-90deg);
  }
}

.search {
  position: relative;
}

@media screen and (max-width: 600px) {
  .search {
    order: 3;
  }
}

#submit {
  display: none;
}

.search label {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  color: hsl(var(--primary-clr-100));
}

.search input {
  height: 28px;
  padding: 4px 35px 5px 15px;
  border: none;
  border-radius: 100vh;
  background-color: hsl(var(--secondary-clr-110));
}

.search input:focus {
  outline: none;
}

@media screen and (min-width: 600px) {
  .search input {
    width: 25vw;
  }
}

@media screen and (max-width: 600px) {
  .search input {
    width: 140px;
  }
}

/* the homepage */

.homepage {
  --ls-ratio: 1.3;

  display: flex;
  padding: 3rem 5rem 3rem 5rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 10vw;
  background-color: hsl(var(--primary-clr-220), 0.5);
}

@media screen and (min-width: 1200px) {
  .homepage {
    justify-content: space-around;
  }
}

@media screen and (max-width: 600px) {
  .homepage {
    padding: 1rem;
  }
}

.attractive {
  background-color: hsl(var(--primary-clr-210));
  padding: 3rem;
  transition: transform 0.7s;
}

.attractive:hover {
  transform: scale(1.1);
}

.attractive h1 {
  font-size: var(--fs-8);
  text-transform: uppercase;
  color: hsl(var(--primary-clr-110));
}

.attractive h2 {
  font-size: var(--fs-4);
  color: hsl(var(--secondary-clr-200));
  text-transform: capitalize;
  /* margin-top: 0px; */
}

.attractive p {
  font-size: var(--fs-2);
  width: 210px;
  margin-top: 5px;
}

@media screen and (max-width: 800px) {
  .attractive {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .attractive p {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .attractive p {
    width: 100%;
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .attractive h1 {
    font-size: calc(var(--fs-8) * var(--ls-ratio));
    line-height: 70px;
  }

  .attractive h2 {
    font-size: calc(var(--fs-4) * var(--ls-ratio));
  }

  .attractive p {
    font-size: calc(var(--fs-2) * var(--ls-ratio));
    width: calc(320px * var(--ls-ratio));
  }
}

.call-to-action {
  --hov-transition: 0.5s;

  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;
}

@media screen and (max-width: 400px) {
  .call-to-action {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
  }
}

.call-to-action .contact {
  display: flex;
  gap: 10px;
}

.call-to-action .contact a {
  font-size: var(--fs-5);
  color: hsl(var(--primary-clr-100));
  transition: transform var(--hov-transition);
}

.call-to-action .contact a:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 1024px) {
  .call-to-action .contact {
    gap: 25px;
  }

  .call-to-action .contact a {
    font-size: var(--fs-6);
  }
}

@media screen and (max-width: 320px) {
  .call-to-action .contact a {
    font-size: var(--fs-4);
  }
}

.call-to-action button {
  display: flex;
  align-items: center;
  gap: 10px;
  color: hsl(var(--secondary-clr-300));
  background-color: hsl(var(--primary-clr-100));
  padding: 3px 3px 2px 11px;
  border-radius: 100vh;
  border: 1px solid white;
  cursor: pointer;
  font-size: var(--fs-2);
  text-wrap: nowrap;
  transition: var(--hov-transition);
}

.call-to-action span {
  margin-bottom: 2px;
}

.call-to-action button i {
  font-size: var(--fs-5);
  color: hsl(var(--secondary-clr-300));
  transition: var(--hov-transition);
}

.call-to-action button:hover {
  background-color: hsl(var(--secondary-clr-300));
  color: hsl(var(--primary-clr-110));
}

.call-to-action button:hover i {
  color: hsl(var(--primary-clr-100));
  transform: rotate(-360deg);
}

@media screen and (min-width: 1024px) {
  .call-to-action button {
    font-size: calc(var(--fs-3) * 1.2);
    padding: 3px 3px 3px 15px;
    gap: 15px;
  }

  .call-to-action button i {
    font-size: var(--fs-7);
  }
}

@media screen and (max-width: 320px) {
  .call-to-action button {
    width: 75%;
    justify-content: space-between;
  }
}

.homepage img {
  width: 400px;
}

@media screen and (max-width: 800px) {
  .homepage img {
    display: none;
  }
}

/*Events*/

.events-container {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  align-items: center;
  padding: 1.5rem 5px;
  background-color: hsl(var(--primary-clr-200), 0.3);
  overflow-y: hidden;
  overflow-x: auto;
}

@media screen and (min-width: 670px) {
  .events-container {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 670px) {
  .events-container {
    height: calc(300px + 1.5rem);
  }
}

.event {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 400px;
  width: 30%;
  min-width: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid hsl(var(--primary-clr-100));
  border-radius: 20px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}

.event:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 670px) {
  .event {
    height: 300px;
  }

  .event:hover {
    transform: scale(1);
  }
}

#podcast {
  background-image: url(./assets/images/podcast.png);
}

@media screen and (max-width: 670px) {
  #podcast {
    margin-left: 10px;
  }
}

#classe {
  background-image: url(./assets/images/class.png);
}

@media screen and (max-width: 670px) {
  #classe {
    margin-right: 10px;
  }
}

#podcast,
#classe {
  --act-bg: var(--primary-clr-200), 0.8;
  --act-clr: var(--primary-clr-120);
  --link-bg: var(--primary-clr-120);
  --link-clr: var(--primary-clr-210);
  --link-hov-bg: var(--primary-clr-210);
  --link-hov-clr: var(--primary-clr-120);
}

#recipe {
  --act-bg: var(--primary-clr-110), 0.8;
  --act-clr: var(--primary-clr-200);
  --link-bg: var(--primary-clr-210);
  --link-clr: var(--primary-clr-100);
  --link-hov-bg: var(--primary-clr-120);
  --link-hov-clr: var(--primary-clr-210);

  background-image: url(./assets/images/recipes.png);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  backdrop-filter: blur(20px);
  visibility: hidden;
}

.event.clicked ~ .overlay {
  visibility: visible;
}

.event.clicked {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vh;
  z-index: 4;
  cursor: auto;
}

@media screen and (max-width: 600px) {
  .event.clicked {
    height: 90vh;
  }
}

.event-info {
  background-color: hsl(var(--act-bg));
  color: hsl(var(--act-clr));
  padding: 5px 0 10px 15px;
  backdrop-filter: blur(5px);
}

.event.clicked .event-info {
  padding: 15px 40px 25px;
  backdrop-filter: blur(20px);
  width: 100%;
}

@media screen and (max-width: 600px) {
  .event.clicked .event-info {
    padding: 15px 20px;
  }
}

.event-info *:not(h3) {
  display: none;
}

.event.clicked .event-info * {
  display: block;
}

.event-info h3 {
  font-size: var(--fs-7);
  font-variation-settings: var(--fw-8);
  padding-right: 30px;
}

@media screen and (max-width: 1100px) {
  .event-info h3 {
    font-size: var(--fs-6);
  }
}

.event.clicked h3 {
  margin-bottom: 10px;
}

.event.clicked .event-info p {
  font-size: calc(var(--fs-4) * 1.2);
  font-variation-settings: var(--fw-6);
  padding-left: 20px;
}

.event.clicked .event-info p::first-letter {
  padding-left: 25px;
}

@media screen and (max-width: 600px) {
  .event.clicked .event-info p {
    font-size: var(--fs-4);
  }
}

.event.clicked .event-info ul {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  text-align: center;
  margin-top: 25px;
  gap: 10px;
  font-size: calc(var(--fs-4) * 1.2);
  list-style: none;
}

@media screen and (max-width: 670px) {
  .event.clicked .event-info ul {
    font-size: var(--fs-4);
  }
}

@media screen and (max-width: 600px) {
  .event.clicked .event-info ul {
    display: flex;
    flex-direction: column;
    font-size: var(--fs-3);
  }
}

.event.clicked .event-info ul li {
  background-color: hsl(var(--link-bg));
  color: hsl(var(--link-clr));
  padding: 10px 10px 10px 10px;
  display: grid;
  place-content: center;
  border: 2px solid hsl(var(--link-bg));
  border-radius: 10px;
}

.event.clicked .event-info ul li:hover {
  background-color: hsl(var(--link-hov-bg));
  color: hsl(var(--link-hov-clr));
  transition: background-color 0.4s, color 0.4s;
}

.event.clicked .event-info ul li a {
  color: inherit;
}

/* Fact of the day */

#info {
  padding: 1rem 2rem;
  display: grid;
  place-content: center;
  background-color: hsl(var(--primary-clr-200));
}

.info {
  background-image: url(./assets/images/info-bg.png);
  background-size: 100% 100%;
  background-position: center;
  background-color: hsl(var(--primary-clr-210));
  background-repeat: no-repeat;
  color: hsl(var(--primary-clr-110));
  width: min(550px, calc(100vw - 10px));
  display: grid;
  place-content: center;
  aspect-ratio: 6 / 4;
  padding: 5.5rem;
  text-align: center;
  border: 5px solid white;
  outline: 5px solid hsl(var(--primary-clr-200));
  transition: 0.4s;
}

.info:hover {
  background-size: 110% 110%;
}

.info h3 {
  font-size: var(--fs-7);
  text-transform: capitalize;
  font-variation-settings: var(--fw-7);
  margin-bottom: 10px;
}

.info p {
  font-size: calc(var(--fs-4) * 1.1);
  font-variation-settings: var(--fw-4);
}

@media screen and (min-width: 1100px) {
  .info {
    width: 800px;
    padding: 8rem;
  }

  .info h3 {
    font-size: calc(var(--fs-7) * 1.5);
  }

  .info p {
    font-size: calc(var(--fs-5) * 1.2);
  }
}

@media screen and (max-width: 550px) {
  .info {
    height: calc((100vw - 10px) * 0.66);
  }

  .info h3 {
    font-size: var(--fs-5);
  }

  .info p {
    font-size: var(--fs-3);
  }
}

@media screen and (max-width: 445px) {
  .info {
    padding: 4.5rem;
  }

  .info h3 {
    font-size: calc(var(--fs-4) * 1.4);
  }

  .info p {
    font-size: var(--fs-2);
  }
}

@media screen and (max-width: 360px) {
  .info {
    height: calc((100vw - 10px) * 0.8);
    padding: 3.8rem;
  }

  .info h3 {
    font-size: calc(var(--fs-4) * 1.1);
  }

  .info p {
    font-size: calc(var(--fs-2) * 0.9);
  }
}

/*FAQ*/

.faq {
  --arrow-position: 7px;

  display: grid;
  justify-content: center;
  margin-inline: auto;
  overflow-x: hidden;
  padding: 1rem 0 1.5rem;
}

@media screen and (max-width: 600px) {
  .faq {
    padding: 1rem 0 1rem;
  }
}

.cards {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin-inline: 10px;
}

@media screen and (max-width: 600px) {
  .cards {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    justify-items: center;
    gap: 1rem;
    margin-inline: 1rem;
  }
}

.question {
  width: 23%;
  height: 100%;
  color: hsl(var(--primary-clr-120));
  background-color: hsl(var(--primary-clr-210));
  font-size: calc(var(--fs-3) * 1.3);
  font-variation-settings: var(--fw-7);
  text-decoration: none;
  padding: 0.9rem 30px 2rem 1.1rem;
  position: relative;
}

@media screen and (max-width: 1100px) {
  .question {
    font-size: calc(var(--fs-3) * 1.2);
    padding: 0.9rem 30px 1.9rem 1.1rem;
  }
}

@media screen and (max-width: 1000px) {
  .question[data-rank="third"] {
    padding: 0.9rem 20px 1.9rem 1.1rem;
  }
}

@media screen and (max-width: 950px) {
  .question {
    font-size: var(--fs-3);
    padding: 0.9rem 20px 1.9rem 1.1rem;
  }

  .question[data-rank="third"] {
    padding: 0.9rem 30px 1.9rem 1.1rem;
  }
}

@media screen and (max-width: 850px) {
  .question {
    font-size: calc(var(--fs-3) * 0.9);
    padding: 0.9rem 20px 1.9rem 1.1rem;
  }

  .question[data-rank="third"] {
    padding: 0.9rem 30px 1.9rem 1.1rem;
  }
}

@media screen and (max-width: 800px) {
  .question[data-rank="third"] {
    padding: 0.9rem 25px 1.9rem 1.1rem;
  }
}

@media screen and (max-width: 750px) {
  .question[data-rank="third"] {
    padding: 0.9rem 14px 1.9rem 1.1rem;
  }
}

@media screen and (max-width: 700px) {
  .question {
    font-size: calc(var(--fs-3) * 0.8);
    padding: 0.9rem 20px 1.9rem 1.1rem;
  }

  .question[data-rank="third"] {
    padding: 0.9rem 17px 1.9rem 1.1rem;
  }
}

@media screen and (max-width: 600px) {
  .question {
    width: 100%;
    font-size: calc(var(--fs-3) * 1);
  }
}

@media screen and (max-width: 400px) {
  .question {
    width: 100%;
    font-size: calc(var(--fs-3) * 0.85);
  }
}

@media screen and (max-width: 400px) {
  .question {
    width: 100%;
    font-size: calc(var(--fs-3) * 0.8);
  }

  .question[data-rank="third"] {
    padding: 0.9rem 24px 1.9rem 1.1rem;
  }
}

@media screen and (max-width: 400px) {
  .question[data-rank="third"],
  .question[data-rank="last"] {
    padding: 0.9rem 10px 1.9rem 1.1rem;
  }
}

@keyframes arrow-hover {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-14px);
  }

  100% {
    transform: translateX(0);
  }
}

.question i {
  position: absolute;
  right: calc(var(--arrow-position) * 1.3);
  bottom: var(--arrow-position);
  font-size: calc(var(--fs-3) * 1.5);
}

.question:hover i {
  animation-name: arrow-hover;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@media screen and (max-width: 1100px) {
  .question i {
    font-size: calc(var(--fs-3) * 1.4);
  }
}

@media screen and (max-width: 950px) {
  .question i {
    font-size: calc(var(--fs-3) * 1.3);
  }
}

@media screen and (max-width: 850px) {
  .question i {
    font-size: calc(var(--fs-3) * 1.1);
  }
}

@media screen and (max-width: 700px) {
  .question i {
    font-size: calc(var(--fs-3) * 1);
  }
}

@media screen and (max-width: 600px) {
  .question i {
    font-size: calc(var(--fs-3) * 1.3);
  }
}

@media screen and (max-width: 400px) {
  .question i {
    font-size: calc(var(--fs-3) * 1);
  }
}

.faq-main {
  display: flex;
  background-color: hsl(var(--primary-clr-210));
  position: relative;
}

.content-table {
  width: 25vw;
  background-color: hsl(var(--primary-clr-110));
  position: sticky;
  top: 0;
  padding: 20px 20px 0 5px;
  text-transform: capitalize;
}

.content-table p {
  color: hsl(var(--primary-clr-210));
  font-size: calc(var(--fs-4) * 1.2);
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'kyiv serif';
  letter-spacing: 2px;
  line-height: 28px;
}

.content-table p::first-letter {
  padding-left: 10px;
}

.content-table hr {
  border-color: hsl(var(--primary-clr-210));
  margin-top: 30px;
}

.content-table dl {
  padding-left: 10px;
  color: hsl(var(--primary-clr-210));
}

.content-table dl dt {
  font-size: var(--fs-4);
  margin-bottom: 20px;
  margin-top: 35px;
  background-color: hsl(var(--primary-clr-210));
  color: hsl(var(--primary-clr-120));
  padding: .8rem 0 .9rem;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}

.content-table dl dt:hover {
  text-decoration: underline 1px solid hsl(var(--primary-clr-120))  ;
}

.content-table dl ul {
  list-style-type: disc;
  color: inherit;
}

.content-table dl dd {
  padding-left: 10px; 
  padding-right: 20px;
  margin-bottom: 10px;
  color: hsl(var(--primary-clr-210), .5);
  text-decoration: underline dashed 2px hsl(var(--primary-clr-210), .8);
  line-height: 27px;
}

.content-table dl dd::first-letter {
  padding-left: 20px;
}

.content-table dl dd:hover {
  color: hsl(var(--primary-clr-210));
}

.contents {
  width: 70vw;
  padding-left: 50px;
}

.contents *:not(h1) {
  padding: 0 3rem 0 0;
}

.contents hr {
  margin-bottom: 30px;
  border: solid 2px hsl(var(--primary-clr-120)) ;
}

.contents h1 {
  font-size: calc(var(--fs-7) * 1.4);
  font-variation-settings: var(--fw-8);
  color: hsl(var(--primary-clr-120));
  text-transform: capitalize;
  margin-bottom: 30px;
}

.contents h2 {
  font-size: var(--fs-7);
  font-variation-settings: var(--fw-6);
  color: hsl(var(--primary-clr-110));
  margin-bottom: 20px;
  padding-left: 20px;
  text-decoration: underline 2px hsl(var(--primary-clr-110));
}

.contents h3 {
  font-size: calc(var(--fs-6) * 1.05);
  font-variation-settings: var(--fw-6);
  color: hsl(var(--primary-clr-100));
  padding-left: 30px;
  margin-bottom: 15px;
  text-decoration: underline 2px hsl(var(--primary-clr-100));
}

.contents h3::first-letter {
  padding-left: 40px;
}

.contents p {
  font-size: var(--fs-5);
  font-variation-settings: var(--fw-4);
  color: hsl(var(--primary-clr-120));
  padding-left: 10px;
  margin-bottom: 50px;
}

.contents p::first-letter {
  padding-left: 30px;
}

/*footer*/

.footer {
  --footer-border: 1px solid hsl(var(--secondary-clr-300), 0.5);
  --items-padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(var(--primary-clr-110));
  color: hsl(var(--secondary-clr-300));
  font-variation-settings: var(--fw-4);
  padding-top: 20px;
}

.foot-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  position: relative;
  padding-bottom: var(--items-padding);
}

.foot-content::after {
  content: "";
  position: absolute;
  width: 60%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: var(--footer-border);
}

@media screen and (max-width: 600px) {
  .foot-content {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

.foot-img {
  text-align: center;
  position: relative;
}

.foot-img::before {
  content: "";
  height: 70%;
  border-right: var(--footer-border);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 600px) {
  .foot-img {
    display: none;
  }
}

.about-us {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 5rem;
}

@media screen and (max-width: 700px) {
  .about-us {
    padding: 0 2rem;
  }
}

.about-us h2 {
  font-size: var(--fs-7);
  font-variation-settings: var(--fw-7);
}

.about-us p {
  font-size: var(--fs-2);
  padding-right: 140px;
  color: hsl(var(--secondary-clr-300), 0.6);
}

@media screen and (max-width: 1100px) {
  .about-us p {
    padding-right: 70px;
  }
}

@media screen and (max-width: 900px) {
  .about-us p {
    padding-right: 2px;
  }
}

.contact-us {
  padding-top: var(--items-padding);
  padding-bottom: var(--items-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-us h2 {
  font-size: var(--fs-7);
  font-variation-settings: var(--fw-7);
}

.email-number {
  display: flex;
  gap: 5rem;
  margin-top: 20px;
}

@media screen and (max-width: 500px) {
  .email-number {
    gap: 2rem;
  }
}

@media screen and (max-width: 380px) {
  .email-number {
    flex-direction: column;
    text-align: center;
    gap: 0.7rem;
  }
}

.contact-us p {
  font-size: var(--fs-2);
  text-wrap: nowrap;
  color: hsl(var(--secondary-clr-300), 0.5);
}

.contact-us a {
  color: inherit;
  text-decoration: underline solid 1px hsl(var(--secondary-clr-300));
  color: hsl(var(--secondary-clr-300));
}

.contact-us ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
  font-size: var(--fs-4);
}

@media screen and (max-width: 380px) {
  .contact-us ul {
    margin-top: 25px;
  }
}

.contact-us ul hr {
  height: 20px;
  width: 1px;
}

.contact-us ul li a:hover i {
  transform: scale(1.3);
  transition: 0.5s ease-in-out;
}
